body,
div,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
iframe,
input,
textarea,
select,
label,
article,
aside,
footer,
header,
menu,
nav,
section,
time,
audio,
video {
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}

body {
  font-size: 62.5%;
  line-height: 100%;
  font-family: '微软雅黑', Arial, Droid Sans Fallback;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,
ol,
ul li {
  list-style: none;
}

input,
select,
textarea {
  outline: 0;
  -webkit-user-modify: read-write-plaintext-only;
}

input {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

.p {
  color: #fff;
  line-height: 27px;
  text-align: center;
}

.pp {
  color: #040404;
  line-height: 27px;
  text-align: left;
}

.ppp {
  color: #515151;
  line-height: 50px;
  text-align: center;
}

.pppp {
  text-align: center;
}

@media (max-width: 414px) {
  .p1 {
    font-size: 1.9em;
  }

  .p2 {
    font-size: 1.7em;
  }

  .p3 {
    font-size: 2.6em;
  }

  .p4 {
    font-size: 2.2em;
    font-weight: bold;
    letter-spacing: 4px;
  }

  .p5 {
    font-size: 2.2em;
  }
}

@media (max-width: 375px) {
  .p1 {
    font-size: 1.7em;
  }

  .p2 {
    font-size: 1.5em;
  }

  .p3 {
    font-size: 2.4em;
  }

  .p4 {
    font-size: 2.1em;
    font-weight: bold;
    letter-spacing: 4px;
  }

  .p5 {
    font-size: 2.1em;
  }
}

@media (max-width: 320px) {
  .p1 {
    font-size: 1.5em;
  }

  .p2 {
    font-size: 1.3em;
  }

  .p3 {
    font-size: 2.2em;
  }

  .p4 {
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 4px;
  }

  .p5 {
    font-size: 1.8em;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  /* background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    color-stop(0, rgb(132, 189, 182)),
    color-stop(0.7, rgb(109, 164, 151)),
    color-stop(1, rgb(132, 189, 182))
  ); */
  overflow: hidden;
  color: black;
}

body {
  background: #1173f7 url('../images/bg1.png') no-repeat 50px top;
  background-size: contain;
}

.global {
  position: absolute;
  width: 100%;
  height: 100%;
}

.load {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: url('../images/news/shequn/qingrenjie/bg.jpg'); */
  background-size: cover;
  background-position: 50% 50%;
}

.load_img {
  position: absolute;
  width: 80%;
  top: 20%;
  left: 10%;
}

.fly_in {
  animation: fly_in 1.7s ease forwards;
}

.fly_in2 {
  animation: fly_in 1.7s ease forwards;
}

.fly {
  animation: fly 3s ease-out infinite;
}

.load_p {
  position: absolute;
  height: 30px;
  width: 100%;
  top: 63%;
}

.load_p1 {
  position: absolute;
  height: 30px;
  width: 100%;
  top: 70%;
}

.welcome {
  width: 100%;
  height: 100%;
  display: none;
  /* background-image: url('../images/news/shequn/qingrenjie/bg.jpg'); */
  background-size: cover;
  background-position: 50% 50%;
}

.wel_btn {
  position: absolute;
  z-index: 11;
  bottom: 15%;
  left: 5%;
  width: 90%;
  height: 50px;
  background-color: #ffe400;
  color: black;
  border-radius: 60px;
  font-weight: bold;
  font-size: 24px;
  border: 0;
}

.logo {
  position: absolute;
  right: 10%;
  bottom: 4%;
  left: 10%;
  width: 80%;
  height: 30px;
  background: url('../images/logo.png') no-repeat;
  background-size: contain;
}

.wind1 {
  position: absolute;
  width: 11%;
  top: 5%;
  margin-left: 9%;
}

.wind2 {
  position: absolute;
  width: 14%;
  top: 38%;
  margin-left: 80%;
  z-index: 100;
}

.wind3 {
  position: absolute;
  width: 17%;
  top: 47%;
  margin-left: 12%;
  z-index: 100;
}

.flow1 {
  -webkit-animation: flow1 15s ease-in infinite;
  -moz-animation: flow1 15s ease-in infinite;
  animation: flow1 15s ease-in infinite;
}

.flow2 {
  -webkit-animation: flow2 15s ease-in infinite;
  -moz-animation: flow2 15s ease-in infinite;
  animation: flow2 15s ease-in infinite;
}

.flow3 {
  -webkit-animation: flow3 15s ease-in infinite;
  -moz-animation: flow3 15s ease-in infinite;
  animation: flow3 15s ease-in infinite;
}

.wel_p {
  position: absolute;
  width: 60%;
  bottom: 19%;
  margin-left: 20%;
  z-index: 1000;
}

.earth {
  float: left;
  width: 15.5%;
  color: #000;
  line-height: 0;
  margin-top: 4.45%;
  margin-left: 5%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background: url('../images/bg2.png') no-repeat center 10%;
  background-size: 90%;
}

.question {
  position: absolute;
  width: 90%;
  margin-left: 5%;
  top: 0;
  z-index: 10;
}

.ques_p {
  line-height: 1.6em;
  width: 75%;
  margin-left: 13%;
  margin-top: 40%;
  color: black;
  height: 8.5em;
  padding-top: 0.3em;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background-position: bottom center;
  background-size: 70%;
  background-repeat: no-repeat;
}

.ques_back {
  position: absolute;
  width: 100%;
  margin: 10% 0;
  z-index: -1;
}

.ques_flag {
  position: absolute;
  width: 20%;
  top: 30px;
  right: 0;
}

.answer {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

.ans {
  float: left;
  width: 94%;
  height: 50px;
  background-color: #002d69;
  border-radius: 60px;
}

.tip_btn {
  position: absolute;
  height: 50px;
  bottom: 4%;
  float: left;
  background-color: #7ee9ff;
  border-radius: 60px;
  margin-left: 23.5%;
  width: 52.9%;
}

.tip_btn p {
  color: black;
}

.circle {
  float: left;
  height: 70%;
  width: 10%;
  color: #000;
  margin-left: 3%;
  border-radius: 100px;
}

.circle p {
  line-height: 50px;
}

.item {
  float: center;
  height: 100%;
  width: 78%;
  margin-left: 13%;
}

.item p {
  line-height: 0;
  height: 100%;
  margin-top: 18%;
  margin-left: -4%;
}

.item1 {
  float: center;
  height: 100%;
  /* width: 78%; */
  margin-left: 13%;
  overflow: hidden;
}

.shelter {
  position: absolute;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
}

.sh_back {
  position: absolute;
  -webkit-transform-origin: 50% 200%;
  -moz-transform-origin: 50% 200%;
  transform-origin: 50% 200%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  width: 86%;
  left: 7%;
  height: 78%;
  top: 13%;
  background-color: #ececec;
  color: black;
  z-index: 100000;
  border-radius: 15px;
  /* border: solid #15a06d 0.3em; */
}

.sh_person {
  position: absolute;
  width: 86%;
  top: 8%;
  left: 7%;
}

.sh_an {
  width: 100%;
  color: black;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 3em;
  background: #ffe400;
  border-radius: 15px 15px 0 0;
  height: 3em;
}

.rotate_in {
  -webkit-animation: rotate_in 1s ease forwards;
  -moz-animation: rotate_in 1s ease forwards;
  animation: rotate_in 1s ease forwards;
}

.rotate_out {
  -webkit-animation: rotate_out 1s ease-in forwards;
  -moz-animation: rotate_out 1s ease-in forwards;
  animation: rotate_out 1s ease-in forwards;
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease forwards;
  -moz-animation: fadeIn 1s ease forwards;
  animation: fadeIn 1s ease forwards;
}

.fadeOut {
  -webkit-animation: fadeOut 1s ease forwards;
  -moz-animation: fadeOut 1s ease forwards;
  animation: fadeOut 1s ease forwards;
}

.fade {
  -webkit-animation: fade 1s ease forwards;
  -moz-animation: fade 1s ease forwards;
  animation: fade 1s ease forwards;
}

.result {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background: url('../images/bg3.png') no-repeat center 10%;
  background-size: 90%;
}

.re_p {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 100%;
  line-height: 25px;
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
}

.re_fen {
  position: absolute;
  top: 68%;
  right: 50%;
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
}

.re_btns {
  position: absolute;
  width: 100%;
  bottom: 15%;
  text-align: center;
  color: white;
}

.re_btn {
  height: 50px;
  width: 42.3%;
  border-radius: 60px;
  border: 0;
  font-size: 18px;
  color: white;
}

.re_au {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 5%;
  line-height: 25px;
}

.share {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100000;
  display: none;
}

.share1 {
  position: absolute;
  width: 20%;
  top: 5%;
  right: 10%;
  z-index: 100000;
}
/*animation*/
.rotateIn {
  -webkit-transition: -webkit-transform 0.7s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(1px) rotateZ(0deg);
  -moz-transition: -webkit-transform 0.7s ease;
  -moz-backface-visibility: hidden;
  -moz-transform: perspective(1px) rotateZ(0deg);
  transition: -webkit-transform 0.7s ease;
  backface-visibility: hidden;
  transform: perspective(1px) rotateZ(0deg);
}

.rotateOut {
  -webkit-transition: -webkit-transform 0.7s ease-in;
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(1px) rotateZ(-45deg);
  -moz-transition: -webkit-transform 0.7s ease-in;
  -moz-backface-visibility: hidden;
  -moz-transform: perspective(1px) rotateZ(-45deg);
  transition: -webkit-transform 0.7s ease-in;
  backface-visibility: hidden;
  transform: perspective(1px) rotateZ(-45deg);
}

.large {
  -webkit-transition: -webkit-transform 0.7s ease-in;
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(1px) scale3d(1, 1, 1);
  -moz-transition: -webkit-transform 0.7s ease-in;
  -moz-backface-visibility: hidden;
  -moz-transform: perspective(0.7px) scale3d(1, 1, 1);
  transition: -webkit-transform 0.7s ease-in;
  backface-visibility: hidden;
  transform: perspective(1px) scale3d(1, 1, 1);
}

@-webkit-keyframes fly_in {
  0% {
    -webkit-transform: translateX(400px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fly_in {
  0% {
    -moz-transform: translateX(400px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes fly_in {
  0% {
    transform: translateX(400px);
  }

  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translateY(0%);
  }

  50% {
    -webkit-transform: translateY(10%);
  }

  100% {
    -webkit-transform: translateY(0%);
  }
}

@-moz-keyframes fly {
  0% {
    -moz-transform: translateY(0%);
  }

  50% {
    -moz-transform: translateY(10%);
  }

  100% {
    -moz-transform: translateY(0%);
  }
}

@keyframes fly {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes flow1 {
  0% {
    -webkit-transform: translateX(35%);
  }

  50% {
    -webkit-transform: translateX(-35%);
  }

  100% {
    -webkit-transform: translateX(35%);
  }
}

@-moz-keyframes flow1 {
  0% {
    -moz-transform: translateX(35%);
  }

  50% {
    -moz-transform: translateX(-35%);
  }

  100% {
    -moz-transform: translateX(35%);
  }
}

@keyframes flow1 {
  0% {
    transform: translateX(35%);
  }

  50% {
    transform: translateX(-35%);
  }

  100% {
    transform: translateX(35%);
  }
}

@-webkit-keyframes flow2 {
  0% {
    -webkit-transform: translateX(-7%);
  }

  30% {
    -webkit-transform: translateX(35%);
  }

  80% {
    -webkit-transform: translateX(-35%);
  }

  100% {
    -webkit-transform: translateX(-7%);
  }
}

@-moz-keyframes flow2 {
  0% {
    -moz-transform: translateX(-7%);
  }

  30% {
    -moz-transform: translateX(35%);
  }

  80% {
    -moz-transform: translateX(-35%);
  }

  100% {
    -moz-transform: translateX(-7%);
  }
}

@keyframes flow2 {
  0% {
    transform: translateX(-7%);
  }

  30% {
    transform: translateX(35%);
  }

  80% {
    transform: translateX(-35%);
  }

  100% {
    transform: translateX(-7%);
  }
}

@-webkit-keyframes flow3 {
  0% {
    -webkit-transform: translateX(-7%);
  }

  20% {
    -webkit-transform: translateX(-35%);
  }

  70% {
    -webkit-transform: translateX(35%);
  }

  100% {
    -webkit-transform: translateX(-7%);
  }
}

@-moz-keyframes flow3 {
  0% {
    -moz-transform: translateX(-7%);
  }

  20% {
    -moz-transform: translateX(-35%);
  }

  70% {
    -moz-transform: translateX(35%);
  }

  100% {
    -moz-transform: translateX(-7%);
  }
}

@keyframes flow3 {
  0% {
    transform: translateX(-7%);
  }

  20% {
    transform: translateX(-35%);
  }

  70% {
    transform: translateX(35%);
  }

  100% {
    transform: translateX(-7%);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.welcome {
  width: 100%;
  height: 100%;
  display: block;
  /* background-image: url('../images/news/zt2020/2020wuhan/disinfect/images/bg1.jpg'); */
  background-size: cover;
  background-position: center top;
}

.pp {
  color: #333333;
  line-height: 22px;
  text-align: left;
  margin: 1.6em 1.6em;
}

.ques_flag {
  position: absolute;
  width: 94%;
  top: 12px;
  bottom: 10px;
  left: 3%;
  right: 3%;
}

.pr {
  line-height: 2.2rem;
  text-align: center;
}

.pr b {
  font-size: 24px;
  font-weight: bold;
}

.ques_p {
  margin-left: 13%;
  margin-top: 53%;
  height: 5em;
}

.ques_flag {
  position: absolute;
  width: 20%;
  top: 30px;
  right: 0;
}

.ques_p2 {
  line-height: 1.4em;
  padding: 0 1em;
  margin-top: 1em;
  font-size: 18px;
  font-weight: bold;
}

.item1 p {
  text-align: left;
}

.re_p {
  margin-top: 70%;
}

.fadeIn {
  animation: fadeIn 0.5s ease forwards;
}

.fadeOut {
  animation: fadeOut 0.5s ease forwards;
}

.ans {
  width: 100%;
}

.re_btns {
  bottom: 25%;
}

.re_btn {
  width: 90%;
  background-color: #002d69;
}

.re_btns p {
  margin-top: 20px;
  font-size: 15px;
}
/*
*  iphoneX pulic  css
*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /*.ques_p {
  margin-top: 50%;
}
.answer {
  margin-top: 15%;
}*/
}
